div.panel-heading {
    font-size: x-large; 
}

.width {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.margin {
    margin-left: 50px;
}

.text {
    text-align: center;
    font-size: medium;
}